include modules/head/head
include modules/header/header
include modules/navigation/navigation
include modules/footer/footer
include modules/library/library
include modules/components/product
include modules/components/new

doctype html
html
	+head
	body
		h2 Hello World
		+library
		script(src="global.js")