include footer-menu

mixin footer
  footer.footer
    .footer__element.content
      .container
        .row
          .contact.col-lg-4
            a.contact__logo(href="")
              img(src="../images/logo.png", alt="")
            ul.contact__list
              li.contact__item
                img(src="../images/facebook-placeholder-for-locate-places-on-maps.svg", alt="")
                | Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
              li.contact__item
                img(src="../images/old-handphone.svg", alt="")
                | (04) 6674 2332
                span.contact__space -
                img(src="../images/telephone.svg", alt="")
                | (04) 3786 8904
              li.contact__item
                img(src="../images/old-handphone.svg", alt="")
                | (08) 6680 9686
              li.contact__item
                img(src="../images/email-filled-closed-envelope.svg", alt="")
                a.contact__website(href="") support@bizweb.vn
          .col-lg-2.col-md-6
            +footer-menu("CHUYỂN HÀNG", "Mua sắm trực tuyến", "Đến từ chúng tôi gửi đến", "Chính sách vận chuyển", "Vận chuyển thông tin", "Phiếu quà tặng")
          .col-lg-2.col-md-6
            +footer-menu("HỖ TRỢ", "Câu chuyện của chúng ta", "Thanh toán an toàn", "Tùy chọn Vận Chuyển", "Chính sách vận chuyển", "Liên hệ với chúng tôi")
          .col-lg-2.col-md-6
            +footer-menu("THÔNG TIN", "Về Chúng Tôi", "Điều khoản & điều kiện", "Chính Sách Riêng Tư", "Đơn đặt hàng và Returns", "Sơ đồ trang web")
          .col-lg-2.col-md-6
            +footer-menu("TÀI KHOẢN", "Xem giỏ hàng", "Sản phẩm yêu thích", "Kiểm tra", "Theo dõi đặt hàng của tôi", "Giúp")
    .footer__element.copyright
      .container
        .copyright__wrap
          .copyright__left
            p © Copyright 2015 - 2016
          ul.copyright__right.ml-auto
            each item in [3, 2, 1, 3]
              li.copyright__right-item
                a(href="")
                  img(src="../images/card"+item+".png", alt="")
