mixin title-h2(titleName)
  .title-h2
    h2.title-h2__name #{titleName}

mixin title-h3(titleName)
  .title-h3
    h3.title-h3__name #{titleName}

mixin title-h4(titleName)
  .title-h4
    h4.title-h4__name #{titleName}
