.collection-input,
.collection-qa,
.collection-nav {
  @media#{$xl} {
    width: 960px;
  }
}

.collection-qa {
  padding: 0;
}

.collection-nav {
  padding-top: 200px;
  padding-bottom: 200px;
}

.carousel-wrapper {
  padding: 0;
  clear: both;
}
