mixin product(src, productName, rateOld, rateNew)
  .sunshop__wrap-item
    img(src=src, alt="")
    .hot__content
      h4.product__name
        a(href="") #{productName}
      .rate
        span.rate__old #{rateOld} #[sup đ]
        | - &nbsp;
        span.rate__new #{rateNew} #[sup đ]
      .btn__buy
        button Mua hàng