mixin product(src, productName, rateOld, rateNew)
  .sunshop__wrap-item
    img(src=src, alt="")
    .sunshop-hot__content
      h4
        a(href="") #{productName}
      .sunshine-rate
        span.sunshine-rate__old #{rateOld} #[sup đ]
        | - &nbsp;
        span.sunshine-rate__new #{rateNew} #[sup đ]
      .sunshop-btn__buy
        button Mua hàng