$black: #000000;
$lighter-black-2: #050505;
$lighter-black-10: #1a1a1a;
$lighter-black-20: #323232;
$lighter-black-29: #494949;
$lighter-black-45: #737373;
$lighter-black-52: #858585;
$lighter-black-60: #9a9a9a;

$opacity-white-2: rgba(255, 255, 255, 0.15);
$white: #ffffff;
$darker-white-71: #b4b4b4;
$darker-white-85: #d8d8d8;
$darker-white-91: #e7e7e7;

$green: #789629;
$brown: #6c3c33;
$yellow: #E3CE33;
$pink: #F198C1;

$blue-grey: #cbd3df;
$blue: #88d8da;
$darker-blue: #cbd4b3;
