$black: #000000;
$lighter-black-2: #050505;
$lighter-black-10: #1a1a1a;
$lighter-black-45: #737373;

$green: #789629;

$opacity-white-2: rgba(255, 255, 255, 0.2);
$white: #ffffff;
$darker-white-71: #b4b4b4;
$darker-white-91: #e7e7e7;
