mixin title-size-12(titleName)
  .title-size-12
    h6.title-size-12__name #{titleName}
    
mixin title-size-14(titleName)
  .title-size-14
    p.title-size-14__name #{titleName}

mixin title-size-18(titleName)
  .title-size-18
    h3.title-size-18__name #{titleName}

mixin title-style(titleName)
  .title-style
    h2.title-style__name #{titleName}
    span.title-style__after /////////
