$black: #000000;
$lighter-black: #111111;
$lighter2-black: #232323;
$lighter3-black: #323232;
$lighten-black: #454545;
$lightest-black: #484848;
$darkest-black-opacity2: rgba(0, 0, 0, 0.3);

$white: #ffffff;
$darkest1-white: #ececec;
$darkest-white: #bcbec0;
$darker-white: #f3f3f3;
$dark-white: #959595;
$darkest-white-opacity2: rgba(188, 190, 192, 0.2);

$blue: #00C7C4;

