mixin footer
	footer
		.container
			.sunshop-footer__content
				.row
					.col-lg-4
						.sunshop-footer__title
							a(href="#")
								img(src="../../../../images/logo.png", alt="")
						ul.sunshop-footer__body
							li
								img.sunshop-footer__title__icon(src="", alt="")
								| Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
							li
								span
									img(src="", alt="")
									| (04) 6674 2332
								span - &nbsp;
									img(src="", alt="")
									| (04) 3786 8904
							li
								span
									img(src="", alt="")
									| (08) 6680 9686
							li
								img.sunshop-footer__title__icon(src="", alt="")
								a.footer-mail(href="") support@bizweb.vn
					.col-lg-2.col-md-6
						.sunshop-footer__title
							h3 Chuyển hàng
						ul.sunshop-footer__body
							li
								a.footer-link(href="") Mua sắm trực tuyến
							li
								a.footer-link(href="") Đến từ chúng tôi gửi đến
							li
								a.footer-link(href="") Chính sách vận chuyển
							li
								a.footer-link(href="") Vận chuyển thông tin
							li
								a.footer-link(href="") Phiếu quà tặng
					.col-lg-2.col-md-6
						.sunshop-footer__title
							h3 Hỗ trợ
						ul.sunshop-footer__body
							li
								a.footer-link(href="") Câu chuyện của chúng ta
							li
								a.footer-link(href="") Thanh toán an toàn
							li
								a.footer-link(href="") Tùy chọn Vận Chuyển
							li
								a.footer-link(href="") Chính sách vận chuyển
							li
								a.footer-link(href="") Liên hệ với chúng tôi
					.col-lg-2.col-md-6
						.sunshop-footer__title
							h3 Thông tin
						ul.sunshop-footer__body
							li
								a.footer-link(href="") Về Chúng Tôi
							li
								a.footer-link(href="") Điều khoản & điều kiện
							li
								a.footer-link(href="") Chính Sách Riêng Tư
							li
								a.footer-link(href="") Đơn đặt hàng và Returns
							li
								a.footer-link(href="") Sơ đồ trang web
					.col-lg-2.col-md-6
						.sunshop-footer__title
							h3 Tài khoản
						ul.sunshop-footer__body
							li
								a.footer-link(href="") Xem Giỏ hàng
							li
								a.footer-link(href="") Sản phẩm yêu thích
							li
								a.footer-link(href="") Kiểm tra
							li
								a.footer-link(href="") Theo dõi đặt hàng của tôi
							li
								a.footer-link(href="") Giúp
		.footer__copyright
			.container
				p &copy; Copyright 2015 - 2016
				ul
					li
						img(src="", alt="")
					li
						img(src="", alt="")
					li
						img(src="", alt="")
					li
						img(src="", alt="")
				.clearfix