include modules/lession2/head/head
include modules/lession2/navigation/navigation
include modules/lession2/header/header
include modules/lession2/library/library

doctype html
html
	+head
	body
		+header
		+library

