mixin footer_2(isNotShow)
  //Footer
  footer.footer-global
    .container.text-center
      .bottom.bottom-sorry
        .col-md-12
          p
            small Copyright © Colan Totte Co.,Ltd. All Rigths Reserved
          p
            small 本サイト上に記載・掲載・明記されている内容すべての無断転記・転用を禁じます。

    //./Footer
    script(type='text/javascript', src='js/main.js')
    
mixin footer(isNotShow)
  //Footer
  footer.footer-global
    .container.text-center
      if !isNotShow
        div
          a.btn-arrow(href='#') backtotop
      ul.foo-route
        li
          a(href="#")
            span お問合せはこちら
        li
          a(href="#")
            span お申込みはこちら
      ul.foo-route.after-login
        li
          a(href="#")
            span お問合せはこちら
        li
          a(href="#")
            span 保険についてのお問い合わせはこちら
      div
        ul.menu
          li
            a(href='#') サイトご利用にあたって
          li
            a(href='#') 特定商取引に基づく表記
          li
            a(href='#') 会社概要
          li
            a(href='#') プライバシーポリシー
          li
            a(href='#') 利用規約
      .bottom
        .col-md-12
          p
            small Copyright © Colan Totte Co.,Ltd. All Rigths Reserved
          p
            small 本サイト上に記載・掲載・明記されている内容すべての無断転記・転用を禁じます。

  .tooltip-nav.js-tooltip-nav.is-show
    .container
      .tooltip-text
        p 製品を使用される方の、情報を入力します。使用者を選んで入力を開始してください。
        .tooltip-close
          i.fa.fa-times-circle(aria-hidden='true')
  //./Footer
  script(type='text/javascript', src='js/main.js')
  

  
  
