mixin navigation
  .menu__wrap
    .menu.container
      ul
        li
          a(href="") Hàng mới về
        li
          a(href="") Trang phục
        li
          a(href="") Giày túi xách
        li
          a(href="") phụ kiện
        li
          a(href="") Thể thao
        li
          a(href="") Đồng hồ
        li
          a(href="") làm đẹp
        li
          a(href="") Tin tức
        li
          a(href="") Các thương hiệu
        li
          a(href="") Giảm giá đến 50%