.blog-element {
  &:hover {
    .blog-element__image-hover {
      visibility: visible;
      opacity: 1;
    }
  }
  &__wrap {
    position: relative;
  }
  &__image {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 15px;
  }
  &__image-hover {
    width: 100%;
    height: calc(100% - 17px);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2px;
    left: 0;
    transition: 0.3s;
    z-index: 999;
  }
  .title-size-12, &__content {
    border-bottom: solid 1px $darker-white-91;
  }
  .title-size-12 {
    &__name {
      font-weight: 600;
    }
  }
  &__link {
    color: $lighter-black-2;
    transition: 0.3s;
    &:hover {
      color: $green;
    }
  }
  &__content {
    padding-bottom: 6px;
  }
  &__text {
    font-size: 13px;
    color: $lighter-black-29;
    line-height: 18px;
    padding: 10px 0;
    margin: 0;
  }
  &__post, &__viewmore, &__comment {
    color: $darker-white-71;
  }
  &__viewmore, &__comment {
    transition: 0.3s;
    &:hover {
      color: $green;
      cursor: pointer;
    }
  }
  &__post {
    font-style: italic;
  }
  &__more {
    margin-top: 10px;
  }
}
