.blog-element {
  &__image {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 15px;
  }
  .title-size-12, &__content {
    border-bottom: solid 1px $darker-white-91;
  }
  .title-size-12 {
    &__name {
      font-weight: 600;
    }
  }
  &__content {
    padding-bottom: 6px;
  }
  &__text {
    font-size: 13px;
    color: $lighter-black-29;
    line-height: 18px;
    padding: 10px 0;
    margin: 0;
  }
  &__post, &__viewmore, &__comment {
    color: $darker-white-71;
  }
  &__post {
    font-style: italic;
  }
  &__more {
    margin-top: 10px;
  }
}
