.footer-menu {
  padding-top: 31px;
  @include respond-to('tablet-and-down') {
    padding-top: 26px;
  }
  .title-h3 {
    margin-bottom: 25px;
    @include respond-to('tablet-and-down') {
      margin-bottom: 15px;
    }
    &__name {
      border-bottom: solid 1px $lighter-black-20;
      padding-bottom: 25px;
      @include respond-to('tablet-and-down') {
        padding-bottom: 10px;
      }
    }
  }
  &__item {
    margin-bottom: 9px;
    transition: 0.3s;
    &:hover {
      .footer-menu__link {
        color: $green;
        cursor: pointer;
      }
    }
  }
  &__link {
    color: $darker-white-71;
    transition: 0.3s;
  }
}
