.cart-page {
  .table-price {
    padding: 0;
  }
  .group-button {
    text-align: center;
    .btn {
      margin-bottom: 20px;
      padding: 12px 40px;
      @include respond-to('medium') {
        width: 100%;
        padding: 12px 60px;
      }
    }
  }
  thead th {
    border-bottom-width: 0;
    text-align: center;
    padding: 20px 0;
  }
  .table-content {
    &.info {
      td:first-child {
        width: 350px;
      }
      td:nth-child(2) {
        width: 75px;
      }
      td:nth-child(4) {
        width: 240px;
      }
    }
    &.total-price {
      margin-top: 40px;
      thead, tr {
        td {
          text-align: center;
          padding: 20px 10px;
          &:first-child {
            width: 46%;
          }

        }
        .bold-text {
          font-weight: bold;
        }
      }
      td {
        background-color: $well-bg;
        &:not(:first-child) {
          background-color: $white;
        }
      }
    }
    a.del-item {
      color: #d30d0d;
      text-decoration: none;
      >i {
        margin-right: 5px;
        font-size: 16px;
        vertical-align: middle;
      }
      &:focus {
        outline: 0;
      }
    }
  }
  .btn-black {
    @include respond-to("small") {
      margin: 0 auto;
    }
    @include respond-to("medium") {
      margin: 0 ;
    }
  }
  .single-button {
    margin-top: 20px;
    text-align: center;
    @include respond-to('large') {
      text-align: right;
    }
    .btn-black {
      padding: 10px 40px;
    }
  }
  .clt-select.form-control {
    select {
      padding-left: 10px;
      font-size: 14px;
      letter-spacing: -1px;
    }
  }
  .table-bordered > tbody > tr > td {
    border-left:none;
    border-top:none;
    &:last-child {
      border-right: none;
    }
  }
}

.mobile-cart {
  &.black-title {
    .item {
      .item-info {
        .form-group {
          background-color: $lighter-black;
          border-top: 1px solid #ddd;
          label {
            color: $white;
          }
          &.only-name {
            background-color: $white;
            justify-content: flex-start;
          }
        }
      }
    }
  }
  .cart-title {
    padding: 10px;
    background-color: $lighter-black;
    text-align: center;
    color: $white;
  }
  .clt-user-data-title {
    font-size: 13px;
    @include respond-to('medium') {
      font-size: $font-size-base;
    }
  }
  .item {
    border: 1px solid #ddd;
    border-top: 0;
    position: relative;
    background-color: $white;
    &:not(:last-child) {
      border-bottom: 0;
    }
    .item-img {
      @include respond-to ('small') {
        display: block;
        width: 100%;
        text-align: center;
        &.no-action {
          text-align: center;
        }
      }
      @include respond-to ('medium') {
        display: inline-block;
        width: 150px;
        float: left;
      }
    }
    .item-info {
      h3 {
        margin-top: 5px;
        font-size: 13px;
        @include respond-to('medium') {
          font-size: $font-size-h4;
          margin-top: 30px;
        }
        a {
          color: $black;
          text-decoration: none;
        }
      }
      .form-group {
        @include clearfix;
        background: $white;
        border-left: 0;
        border-right: 0;
        border-top: none;
        &.text-center {
          justify-content: center;
        }
        &.only-name {
          padding: 10px;
          font-weight: bold;
        }
        .content {
          float: left;
          padding: 10px;
          display: block;
          border-left: 1px solid $gray;
          width: 63%;
          min-height: 50px;
          background-color: $white;
          &.sub-total {
            font-weight: bold;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
        label {
          float: left;
          vertical-align: middle;
          padding: 10px 10px 0px;
          width: 37%;
          font-size: 13px;
          @include respond-to('medium') {
            font-size: 14px;
          }
          line-height: 30px;
        }
        .form-control, p {
          display: inline-block;
          width: 68%;
          &.clt-select {
            width: 100%;
          }
          select {
            &:after {
              top: 40%;
            }
          }
        }
      }
    }
    .item-del {
      font-size: 14px;
      text-decoration: none;
      @include respond-to('large') {
        @include position(absolute, $top: -10px, $left: 5px);
      }
      color: $red;
      &:focus {
        outline: 0;
        color: #b61c1c;
      }
      i {
        margin-right: 5px;
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }
  .clt-select.form-control select {
    font-size: 12px;
  }
}

.zoomContainer {
  display: none;
  @include respond-to ('medium') {
    display: block;
  }
}
.node-cart {
  margin-bottom: 35px;
  font-weight: bold;
}
