section.section.contract-page {
  padding-bottom: 85px;
  .message-container {
    .green-text {
      margin-top: 0;
      &.bold-text {
        font-weight: bold;
      }
      span {
        @include respond-to("small") {
          display: block;
        }
        @include respond-to("mobile-medium") {
          display: inline;
        }
      }
    }
  }

}
