.page-guide {
  p {
    font-size: 13px;
    @include respond-to('medium') {
      font-size: $font-size-base;
    }
  }
  .main-content {
    @include respond-to('small') {
      padding-top: 0;
      padding-bottom: 50px;
    }
    @include respond-to('medium') {
      padding-top: 50px;
      padding-bottom: 80px;
    }
    @media#{$xl} {
      padding: 0;
      width: 960px;
    }
    .shopping-guide {
      .tab-section {
        &:nth-child(3) {
          margin-top: 310px;
          @include respond-to('medium') {
            margin-top: 0;
          }
        }
      }
      .list-brand {
        display: flex;
        margin: 10px 0 35px 0;
        li {
          display: inline-block;
          padding: 10px;
          &:first-child {
            padding-left: 0;
          }
        }
      }
      .before-cards {
        margin-top: 30px;
      }
      .heading-left-dot {
        &.first {
          margin-bottom: 0;
        }
      }
    }
    .shipping {
      .summarize {
        font-weight: 700;
      }
    }
    .payment {
      .first {
        margin: 0;
      }
    }
  }
}
