.information-edit {
  .right {
    .clt-select.form-control {
      display: inline-block;
      width: calc(100% - 70px);
      @include respond-to('small') {
        margin-bottom: 15px;
      }
      @include respond-to('medium') {
        width: 210px;
        margin-bottom: 0px;
      }
    }
    p {
      margin-top: 10px;
      margin-bottom: 0px;
      color: $light-gray;
    }
  }
}
