.page-perchaser-info {
  .user-data {
    .data-wrapper {
      display: block;
      @include respond-to('medium') {
        @include flexbox();
      }
    }
    .data-title {
      text-align: left;
      font-weight: bold;
      padding: 10px;
      padding-left: 0;
      @include respond-to('medium') {
        text-align: right;
        font-weight: normal;
        padding: 10px;
        display: block;
      }
    }
    .data-content {
      background-color: #fff;
    }
    &.multi-col {
      .col-sm-7.data-content {
        background-color: #f9f9f9;
      }
    }
  }
  .button-single {
    i.fa-info-circle {
      color: $blue;
      font-size: 25px;
      padding-top: 5px;
      margin-right: 10px;
    }
    div {
      padding: 0 10px;
      @include respond-to('medium') {
        padding: 0;
      }
    }
    .btn {
      margin-top: 15px;
      margin-bottom: 40px;
    }
  }
  .data-content {
    &.has-button {
      padding-top: 10px;
      padding-bottom: 10px;
      .row {
        div {
          &:nth-child(2) {
            text-align: center;
            @include respond-to('large') {
              text-align: right;
            }
          }
        }
        .col-xs-12 {
          text-align: center;
          @include respond-to('medium') {
            text-align: left;
          }
        }
      }
    }
  }
  .user-data {
    &.first {
      margin-bottom: 15px;
    }
    &.multi-col {
      margin-bottom: 0;
      .data-wrapper:first-child {
        @include respond-to("small") {
          display: none;
        }
        @include respond-to("medium") {
          @include flexbox();
        }
      }
    }
  }
  .clt-user-data-title {
    background-color: #fff;
  }
}
