.privacy-call {
  position: relative;
  display: inline-block;
  border: 2px solid $green;
  @include respond-to("small") {
    width: calc(100% - 50px);
  }
  height: 100px;
  padding-left: 55px;
  margin-left: 50px;
  margin-top: 30px;
  @include respond-to ("mobile-medium") {
    width: 430px;
    padding-left: 85px;
    margin-left: 50px;
    margin-top: 40px;
  }
  &:before {
    content:'';
    width: 100px;
    height: 100px;
    background: url('../images/06-privacy-call.png') no-repeat center left;
    position: absolute;
    left: -50px;
    top: -2px;
  }
  p {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    @include respond-to ("mobile-medium") {
      line-height: 2.14286;
    }
    &:first-child {
      margin-top: 12px;
    }
    span {
      display: block;
      text-align: left;
      &:first-child {
        margin: 5px 0;
      }
      @include respond-to ("mobile-medium") {
        display: inline-block;
      }
      &.phone-number {
        color: $green;
        font-weight: bold;
        line-height: 28px;
        font-size: 24px;
      }
      &.service-time {
        font-weight: normal;
      }
    }
  }
}
