.registration-form {
  .user-order {
    &:hover, &.is-showed {
        box-shadow: -2px 4px 15px 0px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }
  }
  &.red-color {
    background: #ff9999;

    .user-order {
      background: #ffb0b2;

    }

    .form-group {
      background: #ffb0b2;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-left-width: 0;
      border-right-width: 0;

      &:not(:last-child) {
        border-bottom-width: 0;
      }

      &.white-bg {
        background: #ffcccc;
      }

      .clt-checkbox .checkbox-custom-label:before,
      .clt-checkbox .radio-custom-label:before,
      .clt-radio .checkbox-custom-label:before,
      .clt-radio .radio-custom-label:before {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid #efb4b6;
      }
      .clt-radio .checkbox-custom:checked + .checkbox-custom-label:before,
      .clt-radio .checkbox-custom:checked + .radio-custom-label:before,
      .clt-radio .radio-custom:checked + .checkbox-custom-label:before,
      .clt-radio .radio-custom:checked + .radio-custom-label:before {
        background-color: #e7effe;
      }
      .clt-checkbox .checkbox-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .checkbox-custom:checked + .radio-custom-label:before,
      .clt-checkbox .radio-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .radio-custom:checked + .radio-custom-label:before {
        background: $green;
      }

      .form-control {
        border: 1px solid #efb4b6;
        background: rgba(255, 255, 255, 0.6);
        &:focus {
           box-shadow:-2px 4px 15px 0px rgba(0, 0, 0, 0.2);
        }
      }

      .right {
        background: #ffcccc;
      }
    }
  }

  &.green-color {
    background: #b7efa4;

    .user-order {
      background: #b7efa4;
    }
    .form-group {
      background: #b7efa4;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-left-width: 0;
      border-right-width: 0;

      &:not(:last-child) {
        border-bottom-width: 0;
      }

      &.white-bg {
        background: #caf9ba;
      }

      .clt-checkbox .checkbox-custom-label:before,
      .clt-checkbox .radio-custom-label:before,
      .clt-radio .checkbox-custom-label:before,
      .clt-radio .radio-custom-label:before {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid #bdeaaf;
      }

      .clt-checkbox .checkbox-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .checkbox-custom:checked + .radio-custom-label:before,
      .clt-checkbox .radio-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .radio-custom:checked + .radio-custom-label:before {
        background: $green;
      }

      .form-control {
        border: 1px solid #bdeaaf;
        background: rgba(255, 255, 255, 0.6);

        select {

          height: 48px;
        }
        &:focus {
           box-shadow: -2px 4px 15px 0px rgba(0, 0, 0, 0.2);
        }
      }

      .right {
        background: #caf9ba;
      }
    }
  }

  &.black-color {
    background: #909090;

    .user-order {
      background: #909090;
    }
    .form-group {
      background: #909090;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-left-width: 0;
      border-right-width: 0;

      &:not(:last-child) {
        border-bottom-width: 0;
      }
      &.white-bg {
        background: #a1a0a0;
      }

      .clt-checkbox .checkbox-custom-label:before,
      .clt-checkbox .radio-custom-label:before,
      .clt-radio .checkbox-custom-label:before,
      .clt-radio .radio-custom-label:before {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid #979696;
      }

      .clt-checkbox .checkbox-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .checkbox-custom:checked + .radio-custom-label:before,
      .clt-checkbox .radio-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .radio-custom:checked + .radio-custom-label:before {
        background: $green;
      }

      .form-control {
        border: 1px solid #979696;
        background: rgba(255, 255, 255, 0.6);

        select {

          height: 48px;
        }
        &:focus {
           box-shadow: -2px 4px 15px 0px rgba(0, 0, 0, 0.2);
        }
      }

      .right {
        background: #a1a0a0;
      }
    }
  }

  &.yellow-color {
    background: #fcf496;

    .user-order {
      background: #fcf496;
    }
    .form-group {
      background: #fcf496;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-left-width: 0;
      border-right-width: 0;

      &:not(:last-child) {
        border-bottom-width: 0;
      }


      .clt-checkbox .checkbox-custom-label:before,
      .clt-checkbox .radio-custom-label:before,
      .clt-radio .checkbox-custom-label:before,
      .clt-radio .radio-custom-label:before {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid #efebae;
      }

      .clt-checkbox .checkbox-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .checkbox-custom:checked + .radio-custom-label:before,
      .clt-checkbox .radio-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .radio-custom:checked + .radio-custom-label:before {
        background: $green;
      }

      .form-control {
        border: 1px solid #efebae;
        background: rgba(255, 255, 255, 0.6);


        &:focus {
           box-shadow: -2px 4px 15px 0px rgba(0, 0, 0, 0.2);
        }
      }

      &.white-bg {
        background: #fff9b9;
      }

      .right {
        background: #fff9b9;
      }
    }
  }

  &.blue-color {
    background: #aec8f9;

    .user-order {
      background: #aec8f9;
    }
    .form-group {
      background: #aec8f9;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-left-width: 0;
      border-right-width: 0;

      &:not(:last-child) {
        border-bottom-width: 0;
      }

      &.white-bg {
        background: #c2d6fc;
      }

      .clt-checkbox .checkbox-custom-label:before,
      .clt-checkbox .radio-custom-label:before,
      .clt-radio .checkbox-custom-label:before,
      .clt-radio .radio-custom-label:before {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid #b6c9ec;
      }

      .clt-checkbox .checkbox-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .checkbox-custom:checked + .radio-custom-label:before,
      .clt-checkbox .radio-custom:checked + .checkbox-custom-label:before,
      .clt-checkbox .radio-custom:checked + .radio-custom-label:before {
        background: $green;
      }

      .form-control {
        border: 1px solid #b6c9ec;
        background: rgba(255, 255, 255, 0.6);
        &:focus {
           box-shadow: -2px 4px 15px 0px rgba(0, 0, 0, 0.2);
        }
      }

      .right {
        background: #c2d6fc;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  .first-group {
    background: #e7e7e7;
    padding: 0 20px 20px 0;
    @include respond-to('medium') {
      @include flexbox();
      padding: 10px;
    }
    .col-md-8 >h4 {
      @include respond-to('small') {
        font-size: 13px;

      }
      @include respond-to('medium') {
        font-size: 15px;
      }
      @include respond-to('large') {
        margin-top: 50px;
        margin-left: 45px;
        line-height: 40px;
      }
    }
  }
  .right {
    p {
      margin-top: 10px;
      margin-bottom: 0px;
      color: #a3a3a3;
      &.email-notif {
        color: #333;
      }
    }
    .payment {
      span {
        float: left;
        margin-right: 10px;
        color: #111;
      }
      ul {
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          float: left;
          margin-right: 10px;
          img {
            width: 41px;
            height: 26px;
          }
        }
      }
    }
    .modal-card {
      color: #111;
    }
  }
  .clt-select.form-control {
    select {
      height: 48px;
      border: none;
    }
  }
}
.step5-modal {
  .modal-content {
    border-top: 5px solid $green;
    border-radius: 0px;
    .modal-header {
      padding: 20px 30px;
      position: relative;
      h4 {
        font-size: 18px;
        color: $green;
        line-height: 20px;
      }
      .close {
        font-size: 0;
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url('../../../images/modal-close.png') transparent no-repeat center center;
        position: absolute;
        top: -16px;
        right: -16px;
        opacity: 1;
      }
    }
    .modal-body {
      padding: 30px;
      >p {
        line-height: 20px;
        @include respond-to("small") {
          margin-bottom: 20px;
        }
        @include respond-to("medium") {
          margin-bottom: 50px;
        }
      }
      .img-card {
        position: relative;
        p {
          margin: 0;
          padding: 0;
          position: absolute;
          @include respond-to("small") {
            top: 60%;
          }
          @include respond-to("medium") {
            top: 18%;
          }
          right: 5%;
          width: 100px;
          color: $red;
          font-size: 12px;
          line-height: 18px;
        }
      }
      > a {
        color: #000;
        margin-left: 30%;
        &:hover {
          color: $red;
        }
      }
    }
  }
}
@include respond-to("medium") {
  .image-right {
    float: right;
    margin-right: -10px;
  }
  .registration-form .first-group .col-md-8 > h4 {
    line-height: 45px;
  }
}
@include respond-to('small-max') {
  .registration-form .first-group .col-md-8 > h4 {
    line-height: 25px;
  }
}
.first-note-payment {
  margin-left: -7px;
}
