.sign-in-page {
  .main-container {
    padding: 100px 0 160px;
  }
  form {
    @include respond-to("huge") {
      width: 660px;
    }
    margin: 0 auto;
    label {
      font-weight: normal;
      margin-bottom: 5px;
    }
    i {
      margin-right: 15px;
      font-size: 15px;
    }
    .form-wrapper {
      background-color: $table-bg-accent;
      @include respond-to("small") {
        padding: 10px 20px 15px;
      }
      @include respond-to("medium") {
        padding: 15px 25px 20px;
      }
      @include respond-to("large") {
        padding: 25px 40px 30px;
      }
      border: 1px solid $input-border;
      border-top: 4px solid $green;
    }
    .form-group {
      border: none;
      background: none;
      &.email {
        margin-bottom: 15px;
      }
    }
    .form-title {
      margin-bottom: 30px;
    }
    .form-action {
      @include flexbox();
      margin-top: 15px;
      @include respond-to("small") {
        display: block;
        text-align: center;
      }
      @include respond-to("medium") {
        padding: 0 25px;
        @include flexbox();
        justify-content: space-between;
      }
      @include respond-to("large") {
        padding: 25px 40px;
      }
    }
  }
  .form-button {
    margin-top: 35px;
  }
}
