.user-info-page {
  .data-content {
    @include respond-to("small") {
      padding: 5px 10px 10px;
    }
    @include respond-to("medium") {
      padding: 20px 20px 20px 40px;
    }
  }
}
.user-edit-page {
  .data-wrapper {
    @include respond-to("small") {
      display: block;
    }
    @include respond-to("medium") {
      @include flexbox();
    }
    .data-title {
      @include respond-to("small") {
        text-align: left;
        font-weight:bold;
        padding: 7px 10px 5px;
        font-size: 13px;
        .row {
          div {
            display: inline-block;
            padding-left: 0;
          }
        }
      }
      @include respond-to("medium") {
        text-align: right;
        font-weight: normal;
        padding: 20px 10px;
        font-size: $font-size-base;
      }
    }
    .data-content {
      @include respond-to("small") {
        padding: 5px 10px 10px;
      }
      @include respond-to("medium") {
        padding: 10px;
        &.display-flex-center, &.has-icon {
          padding: 10px 10px 10px 40px;
        }
      }
    }
  }
}
