.withdraw-page {
  .heading {
    @include respond-to('small') {
      margin: 10px 0 30px;
    }
    @include respond-to('medium') {
      margin: 10px 0px 50px;
    }
  }
  .widthdraw-note {
    margin-bottom: 60px;
    span {
      @include respond-to('small-max') {
        display: block;
      }
    }
  }
  .two-line-note {
    br {
      @include respond-to('small-max') {
        display: none;
      }
    }
  }
  h5 {
    line-height: 30px;
    margin:0 0 15px 0;
    font-weight: bold;
    span {
      @include respond-to('small-max') {
        display: block;
      }
    }
  }
  .top-45 {
    margin-top: 130px;
    margin-bottom: 30px;
    @include respond-to('medium-max') {
      margin-top: 60px;
    }
  }
  .upper-section {
    .wd-hint {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }
  .bottom-section {
    background:white;
    .heading {
      @include respond-to('small') {
        margin-top: 0;
      }
      @include respond-to('medium') {
        margin-top: 40px;
      }
    }
  }
  .box-green {
    background: $green;
    text-align :left;
    padding: 38px 30px 20px 69px;
    color: $white;
    @include respond-to('small') {
      padding: 20px;
      margin-bottom: 0px;
    }
    @include respond-to('medium') {
      padding: 38px 30px 20px 69px;
      margin-bottom: 35px;
      margin-left: 45px;
      margin-right: 45px;
    }
    img{
      display: block;
      margin-bottom: 50px;
    }
    h3 {
      font-weight: bold;
      @include respond-to('small') {
        margin: 20px 0 20px;
      }
      @include respond-to('medium') {
        margin: 0px 0 40px;
      }
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0 0 0 35px;
      position: relative;
      &:after {
        content:"\f041";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        left: 0px;
        font-size: 24px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
      li {
        font-size: 13px;
      }
    }
    p {
      padding-left: 35px;
      position: relative;
      &:after {
        content:"\f0b1";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        left: 0px;
        font-size: 18px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
    }
  }
  .block-action {
    margin-bottom: 60px;
    .btn-green {
      @include respond-to('small') {
        margin-top: 10px;
      }
      @include respond-to('medium') {
        margin-top: 0;
      }
    }
  }
  .wd-red-note {
    border: 1px solid $red;
    border-radius: 25px;
    padding: 9px 10px;
    position: relative;
    @include respond-to("small") {
      width: 100%;
      margin: 0 auto 30px;
    }
    @include respond-to("large") {
      width: 430px;
      margin: 0 auto 60px;
    }
    span {
      position: relative;
      color: $red;
      font-weight: bold;
      padding-left: 30px;
      &:after {
        content: "\f06a";
        display: inline-block;
        font-family: FontAwesome;
        font-size: 24px;
        color: $red;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
    }
  }
  .wd-hint {
    p {
      color: #111;
    }
    @include respond-to('small') {
      margin-bottom: 30px;
    }
    @include respond-to('medium') {
      margin-bottom: 80px;
    }
  }
  .download-btn {
    @include respond-to('small') {
      margin-bottom: 60px;
    }
    @include respond-to('medium') {
      margin-bottom: 85px;
    }
  }
  .phone-box {
    border: 2px solid $green;
    color: #484848;
    padding-left: 50px;
    padding-right: 10px;
    margin-left: 50px;
    width: calc(100% - 50px);
    margin-bottom: 30px;
    @include respond-to("medium") {
      padding-right: 0px;
      width: 480px;
      margin: 15px auto 50px;
    }
    height: 100px;
    position: relative;
    &:before {
      content: '';
      width: 100px;
      height: 100px;
      background: url(../images/06-privacy-call.png) no-repeat center left;
      position: absolute;
      left: -50px;
      top: -2px;
    }
    .trick-text {
      font-size: 13px;
      padding-top: 5px;
      font-weight: bold;

      @include respond-to("medium") {
        font-size: 16px;
        padding-top: 0px;
        position: absolute;
        top: 15px;
        left: 36%;
      }
      margin-bottom: 0;
      letter-spacing: -2px;
    }
    .phone-number {
      font-size: 24px;
      line-height: 28px;
      color: $green;
      font-weight: bold;
      margin-bottom: 0;

      @include respond-to("medium") {
        font-size: 30px;
        line-height: 30px;
        padding-top: 50px;
        text-align: center;
      }
      span {
        font-size: 16px;
        color: #5a5a5a;
        display: block;
        @include respond-to("medium") {
          display: inline-block;
        }
      }
    }
    &.green-box {
      border: 1px solid $green;
      p {
        color: $green;
        span, i {
          color: $green;
        }
        .dsc {
          color: #484848;
        }
      }
    }
  }
}
