.yellow-text {
  color: $yellow;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: $darker-blue;
  &:hover {
    color: $lighter-blue;
  }
}
.display-flex-center {
  @include flexbox();
  justify-content: space-between;
  align-items: center;
}
.display-flex-end {
  @include flexbox();
  justify-content: flex-end;
  align-items: center;
}
