.footer-global {
  padding: 0px;
  background-color: $panel-footer-bg;
  .btn-arrow {
    position: relative;
    display: inline-block;
    font-size: 0px;
    display: inline-block;
    @include respond-to ("small") {
      margin-bottom: 30px;
    }
    @include respond-to ("medium") {
      margin-bottom: 0px;
    }
    @include border-radius(50%);
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    background: url('../images/btn-backtop.png') no-repeat;
    &:hover {
      background: url('../images/btt-hover.png') no-repeat;
      transition: all 0.3s;
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);

    }
  }
  ul.foo-route {
    list-style: none;
    &.after-login {
      >li {
        &:nth-child(2) {
          a {
            span:after {
              background: url('../images/ico-foo-help.png') no-repeat center center;
            }
          }
        }
      }
    }
    @include respond-to("medium") {
      margin: 40px 0;
    }
    padding: 0;
    text-align: center;
    >li {
      @include respond-to("small") {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
      }
      @include respond-to("medium") {
        width: 300px;
        display: inline-block;
        &:not(:last-child) {
          margin-right: 60px;
        }
      }
      a {
        display: block;
        color: $green;
        font-size: 14px;
        height: 60px;
        line-height: 60px;
        text-decoration: none;
        background: #fff;
        border: 2px solid $green;
        padding: 0 10px;
        border-radius: 34px;
        &:hover {
          background: #f7f7f7;
        }
        span {
          position: relative;
          padding-left: 35px;
          &:after {
            content: "";
            position: absolute;
          }
        }
      }
      &:nth-child(1) {
        a {
          span:after {
            display: block;
            width: 26px;
            height: 18px;
            background: url('../images/foo-mail-ico.png') no-repeat center center;
            top: 50%;
            left: 0px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
      &:nth-child(2) {
        a {
          span:after {
            display: block;
            width: 26px;
            height: 24px;
            background: url('../images/foo-cart-ico.png') no-repeat center center;
            top: 50%;
            left: 0px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      position: relative;
      width: auto;
      line-height: 40px;
      a {
        display: block;
        color: $black;
        text-decoration: none;
        @include transition(font-weight .25s);
        &:hover {
          font-weight: 700;
        }
      }
      &:not(:last-child) {
        &:before {
          position: absolute;
          right: -13px;
        }
      }
    }
    @include respond-to('small') {
      padding-top: 0;
      li {
        width: 100%;
        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
    @include respond-to('medium') {
      padding-top: 20px;
      li {
        width: auto;
        &:not(:first-child) {
          margin-left: 24px;
        }
        &:not(:last-child) {
          &:before {
            content: '|';
          }
        }
      }
    }

  }
  .bottom {
    padding-bottom: 3.5rem;
    p {
      margin-bottom: .5rem;
      line-height: 20px;
    }
    @include respond-to('small') {
      padding-top: 4rem;
    }
    @include respond-to('medium') {
      padding-top: 8rem;
    }
  }
}
