section {
  &.core-section {
    padding-bottom: 30px;
    @include respond-to('large') {
      padding-bottom: 80px;
    }
  }
  &.section {
    padding-top: 30px;
    padding-bottom: 30px;
    @include respond-to('large') {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &-introduce-thumbs {
      .block-action {
        text-align: center;
      }
      .thumb-mb {
        display: none;
      }
      .introduce-title {
        @include respond-to('small') {
          font-size: 22px;
          line-height: 30px;
        }
        @include respond-to('medium') {
          font-size: 28px;
        }
      }
      p {
        @include respond-to('small') {
          text-align: left;
        }
        @include respond-to('medium') {
          text-align: center;
        }
      }
      @include respond-to('small') {
        text-align: center;
        .introduce-logo {
          margin: 0 auto;
          height: 7rem;
        }

        .thumbs {
          display: none;
          &-mb {
            display: block;
          }
        }
      }
      @include respond-to('medium') {
        text-align: initial;
        .introduce-logo {
          height: auto;
        }
        .thumbs {
          display: block;
          &-mb {
            display: none;
          }
        }
      }
    }
    // For grey section
    &-odd {
      background: $well-bg;
      @include respond-to('small') {
        padding-top: 0;
      }
      @include respond-to('medium') {
        padding-top: 50px;
      }
    }
    &-step-by-step {
      img {
        width: 100%;
      }
      text-align: center;
      .block-action {
        text-align: center;
      }
      .step-by-step {
        margin-bottom: 40px;
      }
      .circle-wrapper {
        @include respond-to('small') {
          width: 240px;
          height: 240px;
        }
        @include respond-to('large') {
          width: 270px;
          height: 270px;
        }
        .circle-top {
          @include respond-to('small') {
            width: 230px;
            height: 230px;
          }
          @include respond-to('large') {
            width: 258px;
            height: 258px;
          }
        }
      }
    }
    &-block-rippon, &-qa {
      .block-action {
        text-align: center;
      }
    }
    &-block-rippon {
      @include respond-to('small') {
        padding-top: 0;
      }
      @include respond-to('medium') {
        padding-top: 50px;
        .more-info {
          padding: 0 10px;
        }
      }
      @include respond-to('large') {
        .more-info {
          padding: 0;
        }
      }
    }
    &-features {
      @include respond-to('small') {
        padding-bottom: 0;
      }
      @include respond-to('medium') {
        padding-bottom: 50px;
      }
    }
  }
  &.img-section {
    &.gray-bg {
      background-color: $well-bg;
    }
    &.white-bg {
      background-color: $white;
    }
    @include respond-to('small') {
      padding-top: 0;
      &:first-child {
        padding-top: 30px;
        .heading {
          margin-top: 0;
        }
      }
    }
    @include respond-to('large') {
      padding-top: 50px;
      &:first-child {
        padding-top: 50px;
        .heading {
          margin-top: 30px;
        }
      }
    }
  }
}
