.long-arrow {
  position: absolute;
  width: 4px;
  height: calc(75% + 85px) ;
  background-color: $green;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  top: 25%;
  &:before {
    position: absolute;
    content: '';
    @include create-circle(16px);
    background-color: $green;
    top: -8px;
    left: -6px;
  }
  &:after {
    position: absolute;
    content: '';
    @include triangle(8px, $green);
    left: -6px;
    bottom: -8px;
  }
}
