.collection-btn {
  background-color: #e7e7e7;;
}
.btn{
  padding: 16px 60px;
  border-radius: 40px;
  font-size: 14px;
  @include respond-to('medium') {
    font-size: 15px;
  }
  line-height: 28px;
  outline: none;
  transition: all .25s;
  white-space: normal;
  background: $white;
  border-radius: 40px;
  color: $gray;
  text-decoration: none;
  border: 0;
  .fa {
    font-size: 20px;
  }
  &.active,
  &:hover,
  &:focus,
  &:active,
  &:visited
  &.active {
    &:focus,
    &.focus {
      outline: none;
      box-shadow: none;
    }
  }
  &.btn-white {
    background-color: $white;
    color: $green;
    &:hover {
      background: $green;
      color: $white;
    }
  }
  &.btn-green {
    background-color: $green;
    color: $white;
    &:hover {
      background-color: $darker-green;
    }
  }
  &.btn-black {
    background-color: #282828;
    color: $white;
    &:hover {
      background-color: #121212;
    }
  }
  &.btn-trans {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
    @include respond-to('small') {
      margin-top: 10px;
    }
    @include respond-to('medium') {
      margin-top: 25px;
    }
    &:hover {
      background-color: $white;
      color: $green;
    }
  }
  &.btn-fw {
    width: 100%;
  }
  &.btn-lg {
    padding: 21px 60px;
  }
  &.btn-md {
    padding: 10px 30px;
    @include respond-to('small') {
      width: 100%;
    }
    @include respond-to('medium') {
      width: auto;
    }
  }
  &.btn-sm {
    padding: 11px 40px;
    @include respond-to('small') {
      width: 100%;
    }
    @include respond-to('medium') {
      width: auto;
    }
  }
  &.btn-xs {
    padding: 6px 30px;
    @include respond-to('small') {
      width: 100%;
    }
    @include respond-to('medium') {
      width: auto;
    }
  }
  &.btn {
    i {
      &.left {
        margin-right: 20px;
      }
      &.right {
        margin-left: 20px;
      }
    }
  }
  &.btn-fixed-190 {
    width: 190px;
  }
  &.btn-fixed-230 {
    width: 230px;
    padding-left: 40px;
    padding-right: 40px;
  }
  &.btn-fixed-270 {
    width: 270px;
  }
  &.btn-fixed-300 {
    @include respond-to("small") {
      width: 100%;
    }
    @include respond-to("medium") {
      width: 300px;
    }
  }
  &.btn-fixed-320 {
    @include respond-to("small") {
      width: 100%;
    }
    @include respond-to("medium") {
      width: 320px;
    }
  }
  &.btn-fixed-360 {
    @include respond-to("small") {
      width: 100%;
      padding: 16px 50px;
    }
    @include respond-to("medium") {
      width: auto;
      padding: 16px 50px;
    }
    @include respond-to("large") {
      width: 360px;
      padding: 16px 60px;
    }
  }
  &.btn-fixed-220 {
    width: 220px;
    padding: 15px 30px;
  }
}
