.icon-cirle {
  .ic {
    background-color: white;
    @include create-circle(80px);
    @media #{$ss} {
      @include create-circle(40px);
    }
    text-align: center;
    margin: 0 auto 22px;
    span {
      line-height: 80px;
      @media #{$ss} {
        line-height: 40px;
      }
    }
    img {
      @media #{$ss} {
        width: 16px;
        height: 16px;
      }
    }
  }
  i {
    color: $green;
    line-height: 80px;
    font-size: 30px;
    @media #{$ss} {
      line-height: 40px;
      font-size: 15px;
    }
  }
}
