.company-data {
  .data-row {
    justify-content: center;
    border: 1px solid $input-border;
    @include respond-to('medium') {
      @include flexbox();
    }
    &:not(:first-child) {
      border-top: none;
    }
    .company-title {
      background-color: $well-bg;
      padding: 10px;
      @include respond-to('medium') {
        border-right: 1px solid $input-border;
        padding: 20px 20px 20px 30px;
      }
    }
    .company-content {
      padding: 15px 10px;
      border-left: none;
      &.has-img {
        img {
          margin: 10px 0;
        }
      }
      p {
        margin: 0;
        &.small-text {
          font-size: 13px;
        }
      }
      @include respond-to('medium') {
        padding: 20px 20px 20px 30px;
      }
    }
  }
  .clt-title {
    padding: 0 20px;
    font-weight: normal;
  }
}
