.clt-dropdown {
  &:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: $gray;
    font-size: 20px;
    pointer-events: none;
  }
  &.open {
    &:after {
      content: "\f0d8";
      font-family: "FontAwesome";
      position: absolute;
      right: 26px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      color: $green;
      font-size: 20px;
    }
  }
  &:hover {
    &:after {
      color: $green;
    }
  }
  .btn.dropdown-toggle {
    width: 100%;
    background-color: $white;
    color: black;
    padding: 9px 25px;
    border: 1px solid $input-border;
    text-align: left;
    border-radius: 3px;
    white-space: nowrap;
    &:hover, &:active, &:focus {
      color: black;
      background-color: $white;
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
      border: 1px solid $input-border;
      outline: 0;
    }
  }
  .dropdown-menu {
    margin-top: 0;
    padding: 0;
    border: none;
    width: 100%;
    min-width: auto;
    li {
      background-color: $table-bg-accent;
      border: 1px solid $input-border;
      border-top: none;
      padding: 6px 25px;
      font-size: 13px;
      &:hover {
        background-color: $well-bg;
        cursor: pointer;
      }
    }
  }
}
