.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 15px;
  @include respond-to('large') {
    font-size: 20px;
  }
  padding-bottom: 10px;
  line-height: 1.7;
  font-weight: bold;
  &:after {
    height: 5px;
    background: $green;
    width: 75px;
    display: block;
    content: " ";
    margin: 20px auto 0;
  }
  &.heading-yellow {
    &:after {
      background: $yellow;
    }
  }
  &.heading-blue {
    &:after {
      background: $blue;
    }
  }
}

@include respond-to('small') {
  .heading-left-strike {
    padding: 20px 25px;
    font-size: 13px;
    &:before {
      left: 10px;
    }
  }

}
@include respond-to('medium') {
  .heading-left-strike {
    padding: 20px 50px;
    font-size: $font-size-base;
    &:before {
      left: 30px;
    }
  }
}
.heading-left-strike {
  margin: 0;
  line-height: 30px;
  font-weight: bold;
  position: relative;
  &:before {
    content: '';
    @include position(absolute, $top: 21px);
    width: 5px;
    height: 25px;
    background-color: $green;
  }
}

.heading-left-square {
  margin: 5px 20px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  font-size: 13px;
  @include respond-to('medium') {
    font-size: $font-size-base;
  }
  &:before {
    content: '';
    @include position(absolute, $left: -20px, $top: 10px);
    width: 10px;
    height: 10px;
    background-color: $black;
  }
}

.heading-left-dot {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  position: relative;
  &:before {
    content: '';
    @include position(absolute, $left: 0, $top: 10px);
    @include create-circle(5px);
    @include respond-to('medium') {
      @include create-circle(7px);
    }
    background-color: $black;
  }
}


.heading-page {
  height: 120px;
  background: url("../images/service_banner.jpg") center top no-repeat;
  background-size: cover;
  background-position: center center;
  line-height: 28px;
  .banner-title {
    display: table;
    height: 120px;
    h2 {
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      line-height: 32px;
      font-size: 24px;
    }
  }
  color: white;
  clear: both;
  font-size: $font-size-h3;
  .logo-text {
    font-size: $font-size-h3;
    width: 960px;
    margin: 0 auto;
  }
  img {
    max-height: 100%;
    width: 100%;
  }
}
