.nav-trapezoid {
  li {
    & + li {
      margin-left: 0;
    }

    @include respond-to('small') {
      width: 100%;
    }
    @include respond-to('medium') {
      width: auto;
      &:not(:first-child) {
        a {
          padding-left: 45px;
        }
      }
    }
    a {
      text-decoration: none;
      background-color: $white;
      line-height: 50px;
      color: $light-gray;
      border: solid #e4e6e4;
      border-width: 1px 0 0 1px;
      @include border-radius(0);
      @include respond-to('small') {
        padding: 10px;
        border-width: 1px 1px 0 1px;
        line-height: 25px;
      }
      @include respond-to('medium') {
        padding: 0 15px 0 30px;
        border-width: 1px 0 0 1px;
        line-height: 60px;
        color: $black;
      }
      &:before {
        content: '';
        z-index: 1;
        width: 32px;
        height: 61px;
        background-color: $white;
        border: inherit;
        border-width: 1px 1px 0 0;
        @include border-radius(0 20px 0 0);
        @include position(absolute, $top: -1px, $right: -25px);
        @include transition(inherit);
        @include transform(skew(10deg));
        @include respond-to('small') {
          display: none;
        }
        @include respond-to('medium') {
          display: block;
        }
      }
      &:hover {
        background-color: $darker-green;
        color: $white;
        &:before {
          background-color: $darker-green;
        }
      }
      .fa {
        margin-right: 15px;
      }
    }
    &.active {
      a, a:hover, a:focus {
        background-color: $green;
        color: $white;
        position: relative;
        &:before {
          background-color: $green;
        }
      }
    }
  }

  ~ .tab-content {
    .tab-pane {
      border: 1px solid #e7e7e7;
    }
    .tab-section {
      p {
        @include respond-to('medium') {
          line-height: 30px;
          letter-spacing: -2px;
        }
      }
      &:nth-child(odd) {
        background-color: $white;
      }
      &:nth-child(even) {
        background-color: #f9f9f9;
        @include respond-to('small') {
          padding: 10px;
        }
        @include respond-to('medium') {
          padding: 20px 30px;
        }
      }
      .list-unstyled {
        margin: 0;
        li {
          position: relative;
          @include respond-to('medium') {
            padding-left: 22px;
          }
        }
      }
    }
  }
}
.nav-trapezoid-1 {
  li {
   max-height: 61px;
   border: 1px solid #e7e7e7;
   border-bottom: 0;
    img {
      display: inline-block;;
      float: left;
      @include respond-to('small')  {
        padding-left: 15px;
        padding-top: 5px;
      }
      @include respond-to('medium') {
        padding-left: 30px;
        padding-top: 10px;
      }
    }
    &.tab-content-1 {
      img {
        @include respond-to('small')  {
          padding-top: 3px;
        }
        @include respond-to('medium')  {
          padding-top: 8px;
        }
      }
    }
    .icon-active {
      display: none;
    }
    a {
      @include respond-to('small') {
        border-right-width: 0;
        font-size: 12px;
        border-top: 0;
      }
      @include respond-to('mobile-medium') {
        border-right-width: 1px;
        font-size: 18px;
      }
      @include respond-to('medium') {
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        margin-top: -1px;
      }
      font-size: 18px;
      padding-left: 20px;
      display: inline-block;
      border-left: 0;
      &:hover {
        background: none;
        &:before {
          background: #3baf29;

        }
      }

    }
    &:hover{
      background-color: #3baf29;
      a {
        background-color: #3baf29;
        color: #fff;

        &:before {
          background-color: #3baf29;
        }
      }
      .icon-normal {
        display: none
      }
      .icon-active {
        display: inline-block;

      }
    }
    &.active {
      border-color: #3baf29;
    }
  }

   li.tab-content-2 {
      img {
        @include respond-to('small')  {
            padding-left: 15px;
        }
        @include respond-to('medium') {
          padding-left: 60px;
        }
      }
      a {
        padding-left: 20px;
      }
    }

  .active {
    background-color: #3baf29;
    img {
      border-color: #3baf29;
    }
    .icon-normal {
      display: none
    }
    .icon-active {
      display: inline-block;

    }
    a {
      color: #ffffff;
      border-top-color: #3baf29;
    }
  }
}
.tab-content .shopping-guide .tab-section p {
    @include respond-to('medium') {
      letter-spacing: -1px;
    }
}
