.panel {
  border: 1px solid $panel-default-border;
  border-radius: $panel-border-radius;
  margin-top: 30px;
  margin-bottom: 0;
  .panel-title {
    background-color: $panel-default-heading-bg;
    color: white;
    padding: 19px;
  }
}
