.circle {
  @include respond-to ('small') {
    @include create-circle(25px);
    border: 2px solid $lighter-white;
    line-height: 20px;
    position: relative;
    color: $light-gray;
    font-size: $font-size-base;
    margin: 0 auto;
  }
  @include respond-to ('medium') {
    @include create-circle(70px);
    border: 8px solid $lighter-white;
    line-height: 55px;
    position: relative;
    color: $light-gray;
    font-size: 25px;
  }
  font-weight: normal;
  text-align: center;
}
.step-by-step {
  margin-bottom: 10px;
  @include respond-to('large') {
    margin-bottom: 50px;
  }
  .steps {
    float: left;
    @include respond-to('small') {
      width: calc(100% - 50px);
    }
    @include respond-to('medium') {
      width: calc(100% - 70px);
    }
    .list-step {
      float: left;
      width: 25%;
      position: relative;
      &:after {
        content:'';
        display: inline-block;
        position: absolute;
        background: $lighter-white;
        border-radius: 4px;
        left: 70px;
        @include respond-to('small') {
          height: 4px;
          top: 12px;
          width: calc(100% - 50px);
          margin: 0 4px;
          left: 50px;
        }
        @include respond-to('medium') {
          height: 8px;
          top: 30px;
          width: calc(100% - 90px);
          margin: 0 10px;
          left: 70px;
        }
      }
      &.success {
        &:after {
          background: #b1b1b1;
        }
        .step {
          &:before {
            content: "\f00c";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            z-index: 999;
            color: #b1b1b1;
            @include respond-to('small') {
              font-size: 14px;
              top: 8%;
              left: 36%;
            }
            @include respond-to('medium') {
              font-size: 28px;
              top: 21%;
              left: 33%;
            }
          }
          .circle {
            border-color: #b1b1b1;
            font-weight: bold;
            color: transparent;
            text-indent: -9999999999px;
          }
        }
      }
      &.active {
        .step .circle {
          border-color: $green;
          color: $green;
          font-weight: bold;
        }
        p {
          color: $green;
        }
      }
    }
  }
  .last-step {
    float: left;
    @include respond-to('small') {
      width: 50px;
    }
    @include respond-to('medium') {
      width: 70px;
    }
    .step {
      float: right;
    }
    &.active {
      .step .circle {
        border-color: $green;
        color: $green;
        font-weight: bold;
      }
      p {
        color: $green;
      }
    }
  }
  .step {
    position: relative;
    text-align: center;
    @include respond-to('small') {
      width: 50px;
    }
    @include respond-to('medium') {
      width: 70px;
    }
    p {
      margin-bottom: 0px;
      color: $light-gray;
      @include respond-to('small') {
        line-height: 20px;
        margin-top: 5px;
        font-size: 12px;
      }
      @include respond-to('medium') {
        font-size: $font-size-base;
      }
    }
  }
}
.stack-circle {
  @include create-circle(70px);
  border: 8px solid $green;
  text-align: center;
  line-height: 51px;
  position: relative;
  margin-right: 20px;
  color: $green;
  font-size: 25px;
  font-weight: bold;
  @include respond-to('medium') {
    margin-right: 30px;
  }
  i {
    position: absolute;
    font-size: 20px;
    color: $green;
    left: 0;
    right: 0;
    bottom: -34px;
  }
}
