table {
  border-collapse: separate;
}
.clt-table-2 {
  background-color: $table-bg-accent;

  margin: 0;
  &.middle-content {
    tbody {
      td {
        padding: 10px;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  i {
    color: $red;
    font-size: 20px;
  }
  thead {
    background-color: $lighter-black;
    color: $white;
  }
  tbody {
    .has-img {
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
    td {
      background-color: $table-bg-accent;
      letter-spacing: -1px;
      &:nth-child(5) {
        width: 120px;
      }
      &:last-child {
        width: 80px;
      }
    }
    tr:first-child {
      td {
        background-color: $well-bg;

        &:nth-child(3) {
          padding: 10px 5px;
          width: 105px;
          line-height: 20px;
        }
      }
    }
  }
  tbody.bold-title {
    tr {
      td:first-child {
        font-weight: bold;
        letter-spacing: -1px;
      }
    }
  }
}

// == Table
//
//## With padding of heading to display label required
//## Will alway  padding left 40px
//## Using: DIV
//
.table-validate {
  .group {
    &:not(:last-child) {
      @include respond-to("small") {
        margin-bottom: 10px;
      }
      @include respond-to("medium") {
        margin-bottom: 0;
      }
    }
  }
  .left {
    @include respond-to("small") {
      text-align: left;
      .control-label {
        font-weight: bold;
      }
    }
    @include respond-to("medium") {
      padding-right: 100px;
      &.required {
        padding-right: 10px;
      }
      .control-label {
        font-weight: normal;
      }
    }
  }
  .action-button {
    margin-top: 40px;
    div:not(:first-child) {
      margin-top: 10px;
    }
    @include respond-to('small') {
      .btn {
        width: 100%;
      }
    }
    @include respond-to('medium') {
      .btn {
        width: auto;
      }
    }
    @include respond-to('medium') {
      div:not(:first-child) {
        margin-top: 0;
      }
    }
  }
}
