.top-banner {
  height: 120px;
  background: url("../images/service_banner.jpg") center top no-repeat;
  background-size: cover;
  @include flexbox();
  align-items: center;
  padding-left: 100px;
  color: white;
  padding: 50px 0;
  .logo-text {
    font-size: $font-size-h3;
    width: 960px;
    margin: 0 auto;
  }
  img {
    max-height: 100%;
    width: 100%;
  }
}
