.clt-user-data-title {
  border: 1px solid $input-border;
  border-bottom: none;
  position: relative;
  font-weight: bold;
  background-color: #f9f9f9;
  @include respond-to("small") {
    padding: 10px 30px;
  }
  @include respond-to("medium") {
    padding: 20px 50px;
  }
  &:before {
    position: absolute;
    content: "";
    left: 30px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 5px;
    background-color: $green;
    @include respond-to("small") {
      left: 10px;
    }
    @include respond-to("medium") {
      left: 30px;
    }
  }
}
