.user-group-button {
  div:first-child {
    text-align: right;
    @include respond-to("small") {
      text-align: center;
    }
    @include respond-to("medium") {
      padding-right: 0;
      text-align: right;
    }
  }
  div:not(:first-child) {
    margin-top: 10px;
    @include respond-to('medium') {
      margin-top: 0;
    }
  }
  button.btn {
    // width: auto;
    padding: 15px 40px;
    @include respond-to('medium') {
      padding: 16px 50px;
  }
    .fa {
      vertical-align: middle;
    }
  }
}
.btn-action {
  text-align: center;
  margin-top: 39px;
  margin-bottom: 40px;
  button {
    padding: 15px 50px;
    @include respond-to('small') {
      display: block;
      margin: 0 auto;
      &:not(:first-child) {
        margin: 20px auto 0;
      }
    }
    @include respond-to('medium') {
      display: inline-block;
      padding: 16px 60px;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &.btn-green {
        margin-left: 70px;
      }
      &.btn-black {
        margin-right: 70px;
      }
    }
    .fa {
      vertical-align: middle;
    }
  }
}
