.tooltip-nav {
  width: calc(100% - 20px);
  margin: 0 auto;
  border-radius: 3px;
  background: #ffedaf;
  border: 1px solid #f6cc6c;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 1000;
  @include respond-to('large') {
    position: fixed;
    top: 10px;
  }
  &.is-show {
    display: block;
  }

  .tooltip-text {
    position: relative;
    padding: 9px 30px;

    &:before {
      content: '\f05a';
      display: inline-block;
      font-family: 'FontAwesome';
      position: absolute;
      left: 0;
      top: 47%;
      transform: translateY(-50%);
      font-size: 24px;
      color: #f0aa0a;
    }

    p {
      margin: 0;
      font-size: 13px;
      color: #444;
    }
  }

  .tooltip-close {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 0 10px;
    color: #bcbcbc;
    cursor: pointer;

    &:hover {
      color: $green;
    }
  }
}
